@keyframes roll {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes open-sidebar {
  from {
    width: 0;
  }

  to {
    width: 65vw;
  }
}

@keyframes close-sidebar {
  from {
    width: 65vw;
  }

  to {
    width: 0;
  }
}
