.sidebar {
    width: 15vw;
    min-width: 276px;
    background-color: #171719;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    /* z-index: 2; */
}

.sidebar h4 {
    color: #4c4e54;
    margin: 12px 10px;
    font-size: 16px;
}

.sidebar a {
    color: white;
    text-decoration: none;
}

.listItms {
    margin: 10px;
    padding: 10px;
}

.switched {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#musicList {
    height: 50vh;
    overflow: scroll;
}

.container {
    display: flex;
}

.mainContent {
    width: calc(100vw - 15vw);
    min-height: 100vh;
    height: 100vh;
    background-color: #1f1f22;
    overflow-y: scroll;
    scroll-padding: 750px;
}

.mainContent>nav {
    width: 100%;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    padding: 20px 0;
    gap: 1rem;
}

.searchBox {
    width: 500px;
    background-color: #212124;
    display: flex;
    padding: 10px 15px;
    outline: 1px solid #49494d;
    border-radius: 100vmax;
}

#search {
    background-color: transparent;
    width: 100%;
    border: 0;
    padding: 0 10px;
    caret-color: white;
    color: white;
}

#search :active,
#search:focus {
    outline: none;
}

.searchBox:focus {
    outline: 1px solid #68686d;
}

.sidebar-trigger {
    width: 100px;
    height: 40px;
    display: none;
    cursor: pointer;
}

.horizontalSlider {
    margin: 35px 0;
}

.horizontalSlider>.up {
    display: flex;
    justify-content: space-between;
}

.horizontalSlider>.up>* {
    margin: 0 20px;
}

.scrollerImage {
    cursor: pointer;
    margin: 0 5px;
}

.playlistCard {
    width: 270px;
    min-width: 270px;
    height: 400px;
    border-radius: 7px;
    background-image: url('../media/defaultPoster.jpg');
    background-position: center;
    background-size: cover;
    /* box-shadow: inset 0px -150px 100px 10px rgb(0, 0, 0); */
}

.playlistCard>.down>* {
    position: relative;
    z-index: inherit;
}

.playlistCard>.down {
    padding: 10px;
    position: relative;
    left: 0;
    height: 130px;
    top: 63%;
    bottom: 0px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.playlistCard>.down::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #171719;
    opacity: 0.7;
    z-index: 1;
}

.slider {
    display: flex;
    gap: 1rem;
    padding: 20px;
    overflow: scroll;
}

.playlistCard .playBtn {
    position: absolute;
    right: 10px;
    top: -21px;
    cursor: pointer;
}

.playlistCard .playBtn:hover {
    /* display: none;
    filter: none; */
    animation: roll 1s 1 forwards;
}

/* *botttom player styling */
.bottomPlayer {
    width: calc(100vw - 15vw);
    height: 100px;
    background-color: #212124;
    position: absolute;
    bottom: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.musicImage {
    width: 80px;
    height: 80px;
    margin: 0 25px;
    object-fit: contain;
}

.musicInfo {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px;
}

.musicInfo>h4 {
    font-size: 20px;
}

.musicInfo>h6 {
    font-size: 15px;
}

.musicControls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 25px;
    gap: 10px;
}

#playTime {
    width: 750px;
}

.options {
    margin: 0 10px 0 35px;
    cursor: pointer;
}

#volume {
    width: 250px;
    margin: 0px;
}

/* this is switch css from w3school  */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider2 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider2:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked+.slider2 {
    background-color: #2196f3;
}

input:focus+.slider2 {
    box-shadow: 0 0 1px #2196f3;
}

input:checked+.slider2:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider2.round {
    border-radius: 34px;
}

.slider2.round:before {
    border-radius: 50%;
}